$cBlue: #008ace;
$primary-color: $cBlue !default;
$cDull: #9c9fa6;
$secondary-color: $cDull;


$cHeader: #f26e45;
$cSecondaryHeader: $primary-color;
$tertiaryHeader: $cDull;


$cDashboardBg: #ecf0f1;
$cFooter: #333;
$cFooterText: #777;
$cText: #5d5d5d;
$cLabel: #777;
$cInput: #4d4d4d;
$cDarkHeaderBg: #404952;

/* Side NAV */
$cNavBg: #474F57;
$cNavHover: #3C434A;
$cNavBorderTop: #515A63;
$cNavBorderBottom: #424A52;
$cNavBorderTopHover: #4F5861;
$cNavBorderBottomHover: #3C434A;
$cNavTextColor: #C5CED6;